@media (min-width:765px) {
  #sidebar {
    position: fixed;
    min-height: 100vh !important;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    padding-left: 20px;
    width: 20%;
  }

  /* #page-content{
    margin-left: 20%;
  } */
}

/* #appContainer{
  background-image:  linear-gradient(to right, #C5ADC5, #B2B5E0);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
} */
/*
#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  padding-left:20px;
}
*/

#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.subBtn {
  border-radius: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
}

.subBtn:hover {
  font-weight: bolder;
  font-style: italic;
}

/*Css classes for adding animation */
.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

/**********end classes*************/

.invalid-input {
  border-radius: 20px;
}

/**
Styling for buttons to override bootstrap styling
*/
.myBtn {
  color: black;
  background-color: transparent;
  border-radius: 10px;
  padding: 7px;
  border-color: black;
  border: 2px solid black;
  width: 100%;
}

.myBtn:hover {
  background-color: black;
  color:#B2B5E0
}


label+input[type="radio"]:checked {
  background-color: green;
}

/***
Styling error messages for inputs
*/
.formMsg{
  color: red;
}


/***************************Style The Scroll Bar***********************************/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius:25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/***********************Styling the input of type file*********************************/
input::file-selector-button {
  color: black;
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
}

input::-webkit-file-upload-button:hover{
  font-style: italic;
}

/***************Hide arrow for input type number*************/
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}